# Ignora archivos de sistema
.DS_Store
Desktop.ini
.Spotlight-V100
.Trashes

# Thumbnail cache files
._*
Thumbs.db

# Ignora directorios de compilación
build

# Ignora archivos temporales y de log
*.log
*.tmp

# Ignora bases de datos sqlite
*.sqlite3

#Ignora vagrant configuration
.vagrant

#projects
*.sublime-project
*.sublime-workspace
.idea

#php
composer.phar
composer.lock

#vendor
node_modules
public/libs